.inventory-slots{
  .inventory-slots-counter{}
  .subtitle{
    font-family: @scnd-font;
    color: dimgrey;
    &:before{
      content: '';
      min-width: 10px;
      height: 1px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      background-color: dimgrey;
    }
  }
  .inventory-list{
    .item{
      .item-name{

      }
      .item-brand{
        text-transform: uppercase;
      }
      &.active{
        background-color: @yellow-hover;
      }
    }

  }
}

.main-weapons{
  .weapon-section{
    background-color: @bg-back;
    padding: 20px 10px 20px 30px;
    border: 2px solid @borders;
    position: relative;
    &:not(:last-child){
      margin-bottom: 20px;
    }
    &.disabled{
      opacity: 0.5;
      &:before{
        content: @icon-plus;
        position: absolute;
        .icon-font();
        color: @white;
        font-size: 18px;
        display: inline-block;
        vertical-align: middle;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        left: 0;
        text-align: center;
      }
    }
  }
}

.item{
  cursor: pointer;
  .item-name{

  }
  .item-brand{
    text-transform: uppercase;
  }
  &.active{
    background-color: @yellow-hover;
  }
}