@font-face {
  font-family: 'Willow';
  src: url(../fonts/willowbody.ttf);
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qzer41');
  src:  url('../fonts/icomoon.eot?qzer41#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?qzer41') format('truetype'),
  url('../fonts/icomoon.woff?qzer41') format('woff'),
  url('../fonts/icomoon.svg?qzer41#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}